.bg-red{
    background-color: red;
}

.mx-auto{
     margin-left: auto;
     margin-right: auto;

}


.flex{
    display: flex;
    margin-left: 8px;
    margin-top: 13px;
}

.items-center{
    
    align-items: center;
    margin-top: -43px;
    font-size: 21px;

}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}
.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 0px;
    margin-bottom: 13px;
    margin-left: -18px;
}
.my-2{
    margin-top: 23px;
    margin-bottom: 31px;
    
}

.px-2{
    padding-left: 20px;
    padding-right: 20px;
}

.text-blue{
    color: rgb(29, 88, 214);
    padding: 19px 581px;
    font-size: 25px;
}

.btn1{
    padding: 11px 22px;
    border: 2px solid black;
    color:white;
    background-color: red;
    border-radius: 11px;
    cursor: pointer;
}
.btn1:hover{
    background-color: green;
}
.text-center{
    text-align: center;
}












